[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
    url = git://github.com/vim-latex/vim-latex.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vimbufsync"]
	path = bundle/vimbufsync
	url = https://github.com/def-lkb/vimbufsync.git
[submodule "bundle/coquille"]
	path = bundle/coquille
	url = https://github.com/the-lambda-church/coquille.git
[submodule "/Users/Adam/.vim/bundle/vim-enhanced-diff"]
	path = /Users/Adam/.vim/bundle/vim-enhanced-diff
	url = https://github.com/chrisbra/vim-diff-enhanced.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git@github.com:tpope/vim-abolish.git
